# Virtual Environment
.venv/
venv/
env/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo

# Instance folder (Flask)
instance/

# Database files
*.db
*.sqlite3

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db